<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.zjxt.modular.road.mapper.Inspection_companyMapper">

    <select id="getCompanyList" resultType="java.util.Map">
        select sys_user.user_id,sys_user.account,sys_user.name,sys_user.email,sys_user.phone
        from sys_user join sys_role  on sys_user.role_id = sys_role.role_id
        where sys_role.name='第三方巡查验收公司' and sys_user.name like concat('%',#{companyName},'%')
    </select>

    <select id="getCompanyListForSelector" resultType="java.util.Map">
        select sys_user.user_id,sys_user.account,sys_user.name,sys_user.email,sys_user.phone
        from sys_user join sys_role  on sys_user.role_id = sys_role.role_id
        where sys_role.name='第三方巡查验收公司'
    </select>

    <select id="getByApplicationId" resultType="java.util.Map">
        select *
            from inspection_company
        where application_id =#{applicationId}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from inspection_company
        where application_id =#{applicationId} and third_party_id =#{userId}
    </select>
</mapper>
