<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.zjxt.modular.road.mapper.PatrolCarMapper">


    <select id="getCarList" resultType="java.util.Map">
        select * from patrol_car where dept_id=#{did} and car_number like concat('%', #{number}, '%')
    </select>
</mapper>