<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.zjxt.modular.road.mapper.StakeMapper">

    <select id="getStakeList" resultType="java.util.Map">
        select *
        from stake
    </select>
    <select id="selectAllStake"  resultType="java.util.Map">

        select stake.*,road_section.name roadSectionName,national_highway.highway_name nationalHighwayName,sys_dept.full_name as  supervisorName
        from stake join road_section on stake.road_section_id=road_section.road_section_id
        left join national_highway on road_section.national_highway_id=national_highway.highway_id
        left join sys_dept on road_section.supervisor_id=sys_dept.dept_id
        where
        <if test="nationalHighwayId !=null and nationalHighwayId!=0">
            national_highway.highway_id=#{nationalHighwayId} and
            <if test="roadSectionId !=null and roadSectionId!=0">
                stake.road_section_id=#{roadSectionId} and
            </if>
        </if>

            #{end}>=stake.stake_location and stake.stake_location>=#{begin}
   </select>
    <select id="selectAllNationalHighway" resultType="java.util.Map">
        select national_highway.highway_id nationalHighwayId, national_highway.highway_name nationalHighwayName from national_highway;
    </select>
    <select id="selectAllRoadSection" resultType="java.util.Map">
     select road_section.road_section_id roadSectionId ,road_section.name roadSectionName
     from road_section join national_highway on national_highway.highway_id=road_section.national_highway_id
    where national_highway.highway_id=#{nationalHighwayId};
    </select>
    <insert id="addStake">
        insert into stake (name, road_section_id, stake_location) values (#{stakeName},#{roadSectionId},#{location})
    </insert>
    <update id="updateStake">
        update stake
            <set>
                <if test="stakeName !=null">
                    name=#{stakeName},
                </if>
                <if test="roadSectionId !=null">
                    road_section_id=#{roadSectionId},
                </if>
                <if test="location !=null">
                    stake_location=#{location}
                </if>
            </set>
         where stake_id=#{stakeId}
    </update>
    <select id="slectStakeOne" resultType="java.util.Map">
        select stake.*,road_section.name roadSectionName,national_highway.highway_name nationalHighwayName,sys_dept.full_name supervisorName,national_highway.highway_id from stake join road_section on stake.road_section_id=road_section.road_section_id
            left join national_highway on road_section.national_highway_id=national_highway.highway_id
            left join sys_dept on road_section.supervisor_id=sys_dept.dept_id
        where stake.stake_id=#{stakeId}

    </select>
    <delete id="deleteStake">
        delete  from stake where stake.stake_id=#{stakeId}
    </delete>
</mapper>
