<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.zjxt.modular.road.mapper.supremoLimitmoneyMapper">
<select id="selectByUserId" resultType="map">
    select * from supremo_limitmoney where city_supremo_id=#{userId}
</select>
    <update id="updateLimitMoney">
        update supremo_limitmoney set limit_money=#{money}
    </update>
    <select id="selectTopOne" resultType="map">
        SELECT * FROM supremo_limitmoney LIMIT 1
    </select>
</mapper>
