<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.zjxt.modular.road.mapper.Sys_userMapper">
    <select id="selectCountyAuditor1" resultType="java.lang.Integer">
        select user_id
        from sys_user
        where dept_id = #{deptId} and role_id = 13
    </select>
    <select id="selectCountyAuditor2" resultType="java.lang.Integer">
        select user_id
        from sys_user
        where dept_id = #{deptId} and role_id = 14
    </select>
    <select id="selectCityAuditor2" resultType="java.lang.Integer">
        select user_id
        from sys_user
        where dept_id = #{deptId} and role_id = 6
    </select>
    <select id="selectCityAuditor2" resultType="java.lang.Integer">
        select user_id
        from sys_user
        where dept_id = #{deptId} and role_id = 1202130817007374338
    </select>
    <select id="selectOne" resultType="com.beyond.zjxt.modular.road.entity.Sys_user">
        select *
        from sys_user
        where user_id = #{userId}
    </select>
    <select id="selectByRoleId" resultType="java.util.Map">
        select user_id,account,name,full_name
        from sys_user left join sys_dept
        on sys_user.dept_id=sys_dept.dept_id
        where role_id=#{roleId}
    </select>
    <delete id="deleteByUserId">
        delete from sys_user
        where user_id=#{userId}
    </delete>
    <insert id="addUser">
        insert into sys_user(account,name,password,salt,role_id) values(#{account},#{name},'1d6b1208c7d151d335790276a18e3d99','q6taw',11)
    </insert>
    <update id="resetPassword">
        update sys_user
        <set>
            password='1d6b1208c7d151d335790276a18e3d99',
            salt='q6taw'
        </set>
        where user_id=#{userId}
    </update>
</mapper>
